h1{
    font-size: 30px;        /*tamaño */
    font-family: Times new roman;      /*tipo de letra */
    font-weight: bold;     /*adelgazamiento */
}

h2{ font: lighter 25px sans-serif;}

.agrupar{
    background: #fffbb9;
    width: 960px;
    margin:auto;
}

.cabecera{
    background: #e1ffc5;
    border: 1px solid #999999;
    padding: 10px;
}

.cabecera h1{
    text-align: left;
}

.menu{
    background:  #ccc;
    padding: 15px 30px;  /*arriba-abajo ; derecha a izquierda */
}

.menu li {
    list-style: none;
    padding: 5px; /*separa los li en 5px --espaciado-- */
    font: bold 10px verdana;
    display: inline-block;
    text-align: left;
}

.seccion {
    margin:20px;
    width: 60%;
    float: left;
}

.columna{
    width: 30%;
    float: left;
    margin: 5px 0;
}

.columna blockquote{
    border:1px solid black;
    padding:40px;
    background:#fffbb9;
    margin-bottom:20px;
}

.pie{
    clear:both;
    padding:20px;
    background:#2d3436;
    color:#ffffff;
}

article{
    background: #fffbcc;
    border: 1px solid #999;
    padding: 20px;
    margin-bottom:20px;
}

time{
    color:#999;
}

article footer{
    margin-top:20px;
    text-align:right;
}
